.wrapper{
    background-color: rgb(240, 216, 185);
    font-family: "Delius", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.foto {
    
    width: 100%;
}

.logo{

    width: 80%;
    margin: 10%;
}

.cabecera{
    background-color: rgba(47, 175, 98, 0.755);
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.menu{

    background-color: #e3965a;
    color: #668000;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
}

.elemento:hover{
    background-color: #668000;
    color: rgb(240, 207, 19);
}



.seccion{


    text-align: center;
}

.fondo1{

    background-color: moccasin;
}

.fotoproducto{

    width: 80%;
    margin: 10%;
    border-radius: 50%;
    box-shadow: 1px 1px 75px rgb(150, 92, 11);
    border: 3px solid #e3965a;

}

.descripcion{

   width: 80%;
    margin: 10%;
    margin-top: 5%;
    text-align: center;
    font-size: 22px;
}

.footer{
    background-color: rgb(25, 75, 58);
    color: white;
}

.mapa{

    width:15%;
    margin: 5% 50%;
    
}

.contacto{

    width: 80%;
    margin: 5% 10%;
    
}

.textoEmpresa{

    text-align: center;
    margin: 35% 5%;
    font-size: 50px;
}

.textoEslogan{

    text-align: center;
    margin: 35% 5%;
    font-size: 40px;
}

.textoTitRecetas{
    
        text-align: center;
        font-size: 50px;

}



@media screen and (min-width:767px) {

    .foto{
        width: 70%;
        margin: 15%;
    }

    .mapa{
            
        width:15%;
        margin: 5% 50%;
    }

    .imagenMesa{
        margin: 10%;
        width: 80%;
    }

    .textoCentral{
        margin-left: 20%;
        margin-right: 20%;
        text-align: justify;
    }

    .contacto{

        width: 80%;
        margin: 5% 8%;
        
    }
}

@media screen and (min-width:992px) {

    .foto{
        width: 100%;
        
    }

    .subtitulo{

        text-align: center;
    }

    .imagenMesa{
        
        width: 100%;
        margin: 0;
    }

    .textoCentral{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
        margin-bottom: 5%;
        
    }

    .contacto{

        width: 80%;
        margin: 5% 3%;
        
    }
}